* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px 40px;
    position: sticky;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 1));
    box-shadow: (5px 5px 5px 5px rgba(0, 0, 0, 1));
}

header .logo {
    font-weight: 900;
    font-size: large;
    color: white;
    transition: transform 0.3s ease-in-out;
}

header nav {
   
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    text-decoration: none;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 90%;
}

.logo:hover {
    transform: scale(120%);
}

header nav a:hover {
    transform: scale(115%);
    opacity: 100%;
    filter: drop-shadow(0px 0px 5px rgb(255, 187, 0));
}

/* home */

#home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/vertical-greyscale-shot-beautiful-cliffs-antelope-canyon-usa.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

#home .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
    color: white;
    font-size: 20px;
}

#home .content .isi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 23px;
}

#home .content .isi p {
    font-size: 20px;
    margin-top: 8px;
}

#home .content .button {
    background-color: rgb(255, 187, 0);
    color: black;
    border-radius: 8px;
    padding: 2px 5px;
    margin-top: 12px;
    animation: denyut 1.5s ease-in-out infinite;
}

#home .content .isi svg {
    margin-top: 8px;
    width: 50px;
    height: 50px;
    animation: denyut 1.5s ease-in-out infinite;
}

#home .content .isi a {
    text-decoration: none;
}



@keyframes denyut {
    0% { transform: scale(100%);}
    50% { transform: scale(106%);}
    100% { transform: scale(100%);}
}

/* information */

#information {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#information .about {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
}

#information .about p {
    text-align: center;
    margin-top: 10px;
}


#information img {
    width: 30%;
    rotate: -20deg;
    margin-top: -265px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));

}

#information .minifo {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#information .minifo .mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 187, 0);
    border-radius: 10px;
    width: 120px;
    height: 100px;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-out;
    animation: slideup 0.7s ease-in-out;
}

#information .minifo .mini h2 {
    color: rgb(0, 0, 0);
}

#information .minifo .mini:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

@keyframes slideup {
    0% {transform: translateY(25px); opacity: 0%;}
    75% {transform: translateY(-3px);}
    100% {transform: translateY(0px); opacity: 100%;}

    
}

/* section project */

#project {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../img/vertical-black-white-shot-erg-desert.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
}

#project .judul {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 10px;
    
}

#project .video {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#project .video .card {
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-out;
}

#project .video .card .penjelasan {
    color: rgb(255, 255, 255);
    padding: 15px 10px;
}

#project .video .card .penjelasan span {
    background-color: rgb(255, 187, 0) ;
    border-radius: 10px;
    padding: 2px 8px;
}

#project .video .card .penjelasan p {
    margin-top: 15px;
}

#project .video .card img {
    width: 500px;
}

.video .card:hover {
    transform: scale(105%);
    box-shadow:0px 0px 1px 1px rgba(255, 187, 0, 0.9);
}

/* section statistic */

#statistic {
    width: 100%;
    height: 60vh;
}

#statistic .tulisan {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px;
    margin-top: 15px;
}

#statistic .tulisan h2 {
    font-weight: 750;
}

#statistic .skill {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#statistic .skill .kartu {
    padding: 50px 100px;
    background-color: black;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-out;
}

#statistic .skill .kartu img {
    width: 150px;
    height: 150px;
    transition: transform 0.5s ease-out, filter 0.5s ease-out;
}

#statistic .skill .kartu h3 {
    color: white;
    margin-top: 5px;
}

#statistic .skill .kartu:hover {
    transform: scale(105%);
    box-shadow: 0px 0px 2px 2px rgba(255, 187, 0, 0.818);
}

#statistic .skill .kartu img:hover {
    transform: scale(110%);
    filter: drop-shadow(0px 0px 15px rgba(255, 187, 0, 0.8));
}

/* footer */

footer {
    background-color: black;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
    padding: 20px;
}

footer h4 {
    color: white;
    padding: 2px 4px;
}